<!DOCTYPE HTML>

<html>
	<head>
		<title>Suna sovunlari</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Suna<br />
						NargizComsetics maxsuloti</h1>
						<p>Merhr va muhabbat bilan<br />
						O'z oilamiz uchun tayyorlagandek!</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Suna haqida</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Suna turlari</a></li>
							<li><a href="generic.html">Kopmaniya haqida</a></li>
							<li><a href="elements.html">Yutuqlarimiz</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://t.me/suna_uz_bot" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">October 26, 2021</span>
									<h2><a href="#">Suna<br />
									va uning turlari</a></h2>
									<p>Bizning maxsulotimiz Suna sovunlari davolovchi hususiyatga ega bo'lib,
										yuzdagi toshma va husnbuzarlarni kamaytiradi!</p>
								</header>
								<a href="#" class="image main"><img src="static/images/pic01.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">Bosh sahifaga qaytish</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">October 26, 2021</span>
										<h2><a href="#">Suna flower<br />
										type</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic02.jpg" alt="" /></a>
									<p>Ushbu tur bizning ilk masulotimiz! Ushbu turimizning: Qovun, Sitrus, Anor, Limon, Siren, Shaftoli, Mango kabi turlari bor!</p>
									<ul class="actions special">
										<li><a href="#" class="button">Bosh sahifaga qaytish</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">October 26, 2021</span>
										<h2><a href="#">Suna Flower<br />
										type</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic03.jpg" alt="" /></a>
									<p>Ushbu Suna Flowe turimiz hozirgi kunda eng ko'p sotilga turi hisoblanadi va 120g bo'lib keladi koproq ma'lumot olish uchun quyidagi emailga murojaat qiling</p>
									<ul class="actions special">
										<li><a href="#" class="button">Bosh sahifaga qaytish</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">October 29, 2021</span>
										<h2><a href="#">Suna child<br />
										Ayiqcha turi</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic04.jpg" alt="" /></a>
									<p>Bu tur bolalar uchun moljanlangan bo'lib, ushbu turimiz xar hil ranglarda qadoqlanadi. Chiroylik va bolalar uchun juda qiziq ko'rinishda yaratilgan</p>
									<ul class="actions special">
										<li><a href="#" class="button">Bosh sahifaga qaytish</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">October 29, 2021</span>
										<h2><a href="#">Suna child<br />
										Ayiqcha turi</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
									<p>Ayiqcha turi nafaqat ko'rinishi jihatdan mashxur balikim, tarkibidagi tana uchun shifobaxsh moddalar tufayli bolalar terisini oziqlantiradi va yumshatadi</p>
									<ul class="actions special">
										<li><a href="#" class="button">Bosh sahifaga qaytish</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">October 29, 2021</span>
										<h2><a href="#">Suna<br />
										Kapalakcha type</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic06.jpg" alt="" /></a>
									<p>Ushbu kaplakcha turimiz O'zbekiston hududida To'y marosimlarda sovg'a sifatida juda ko'p ishlatiladi. Kapalakcha turi 90g shaklda yaratiladi</p>

								</article>
								<article>
									<header>
										<span class="date">October 29, 2021</span>
										<h2><a href="#">Suna<br />
										Kapalakcha type</a></h2>
									</header>
									<a href="#" class="image fit"><img src="static/images/pic07.jpg" alt="" /></a>
									<p>Ushbu turimizning: Qovun, Sitrus, Anor, Limon, Siren, Shaftoli, Mango turlari bor! Qolgan turlar kabi ushbu turning tarkibida ham shifobaxsh moddalar mujassam</p>

								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
<!--									&lt;!&ndash;<a href="#" class="previous">Prev</a>&ndash;&gt;-->
<!--									<a href="#" class="page active">1</a>-->
<!--									<a href="#" class="page">2</a>-->
<!--									<a href="#" class="page">3</a>-->
<!--									<span class="extra">&hellip;</span>-->
<!--									<a href="#" class="page">8</a>-->
<!--									<a href="#" class="page">9</a>-->
<!--									<a href="#" class="page">10</a>-->
<!--									<a href="#" class="next">Next</a>-->
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Ism</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Xabaringizni yozing</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Jo'natish" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Manzil</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Telefon raqami</h3>
								<p><a href="#">+998 97 705 74 74</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">jahongir.yusupov.94@mail.ru</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://t.me/suna_uz_bot" class="icon brands alt fa-telegram"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; nargizcosmetics</li><li>Design: <a href="https://html5up.net">jahongir.yusupov.94@mail.ru</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>